version: 2.1

orbs:
  node: circleci/node@5

jobs:
  build:
    docker:
      - image: cimg/node:20.0
    environment:
      SONAR_TOKEN: $SONAR_TOKEN
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run:
                name: Install dependencies
                command: npm install
            - run:
                name: Run tests
                command: npm test
            - run:
                name: Run SonarQube scan
                command: |
                  npx sonar-scanner \
                    -Dsonar.projectKey=insy7314 \
                    -Dsonar.projectName="INSY7314" \
                    -Dsonar.projectVersion=1.0 \
                    -Dsonar.sources=src \
                    -Dsonar.host.url=http://your-sonarqube-url:9000 \
                    -Dsonar.login=$SONAR_TOKEN

workflows:
  version: 2
  build_and_scan:
    jobs:
      - build
